.container {
  display: flex;
  justify-content: center;
  height: 160vh; /* Adjust the height as needed, for example, 160% of the viewport height */
  color:rgb(0, 0, 0);
  /* background-color: #ffffff; */
}

.form-container {
  background-color: #ffd071; /* Pale purple window */
  padding: 30px;
  border-radius: 20px;
  text-align: left;
  width: 400%; /* Adjust the width as needed */
  max-width: 900px;
  height: 100%; /* Adjust the width as needed */
  max-height: 550px; /* Set a max-width to prevent it from becoming too wide */
}

.create-account-button {
  max-width: 50%;
  color:#000000;
  background-color:#8dbdff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 50px;
}

.login-button {
  background-color: rgb(48, 60, 190);
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  justify-content: center;
  width: 70%;
}

.header {
  color: #316bbc; /* Darker red on hover */
  text-align:left;
}

