/* LogoutButton.css */

.logout-button-container {
  display: flex;
  background-color: rgb(48, 60, 190);
}

.logout-button {
  background-color: rgb(48, 60, 190);
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto; /* Push the button to the right */
  /* Add any additional styles as needed */
}
